# Dépendances & builds
node_modules/
app/node_modules/
app/dist/
app/android/app/build/
app/android/build/
app/android/.gradle/
*.iml
.idea/
.DS_Store

# Artefacts de build Cordova/Capacitor (Android)
app/android/capacitor-cordova-android-plugins/build/

# Variables d'environnement locales
app/.env
app/.env.local
